<!DOCTYPE html>
<html ng-app="gemStore">
  <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        
        <!-- Latest compiled and minified JavaScript -->
        <!--  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>-->
        <script type="text/javascript" src="js/vendor/angular/angular.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
    </head>
  <body class="list-group" ng-controller="StoreController as store">
    <header>
      <h1 class="text-center">My first shop with angularJs</h1>
      <h2 class="text-center">– By Jordi Martínez –</h2>
    </header>
    <div class="list-group-item" ng-repeat="product in store.products">
      <h3>
        {{product.name}}
        <em class="pull-right">{{product.price | currency}}</em>
      </h3>
      <!-- Gallery -->
      <section ng-show="product.images.length" ng-controller="GalleryManager as gallery">
        <img ng-src="{{product.images[gallery.current]}}" />
        <ul class="list-inline thumbs">
          <li class="thumbnail" ng-repeat="(num,imageSrc) in product.images">
            <a href ng-click="gallery.setCurrent(num)"><img ng-src="{{imageSrc}}" height="42" width="42" /></a>
          </li>
        </ul>
      </section>
      <!-- END Gallery -->
      <section class="tab" ng-controller="TabController as tabController">
        <ul class="nav nav-pills">
          <li ng-class="{active:tabController.isSet(1)}">
            <a href ng-click="tabController.setTab(1)">Description</a></li>
          <li ng-class="{active:tabController.isSet(2)}">
            <a href ng-click="tabController.setTab(2)">Specs</a></li>
          <li ng-class="{active:tabController.isSet(3)}">
            <a href ng-click="tabController.setTab(3)">Reviews</a></li>
        </ul>
        <div ng-show="tabController.isSet(1)">
          <h4>Description</h4>
          <blockquote>{{product.description}}</blockquote>
        </div>
        <div ng-show="tabController.isSet(2)">
          <h4>Specs</h4>
          <blockquote>Shine: {{product.shine}}</blockquote>
        </div>
        <div ng-show="tabController.isSet(3)">
          <h4>Reviews</h4>
          <ul class="list-unstyled">
            <li ng-repeat="review in product.reviews">
              <blockquote>
                  <strong>{{review.stars}} Stars</strong>
                  {{review.body}}
                  <cite class="clearfix">-{{review.author}}</cite>
              </blockquote>
            </li>
          </ul>
          <form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewCtrl.addReview(product)" >
            <!--  Live Preview -->
            <blockquote>
              <strong>{{reviewCtrl.review.stars}} Stars</strong>
              {{reviewCtrl.review.body}}
              <cite class="clearfix">—{{reviewCtrl.review.author}}</cite>
            </blockquote>
            <!--  Review Form -->
            <h4>Submit a Review</h4>
            <fieldset class="form-group">
              <select ng-model="reviewCtrl.review.stars" class="form-control" ng-options="stars for stars in [5,4,3,2,1]" title="Stars">
                <option value="">Rate the Product</option>
              </select>
            </fieldset>
            <fieldset class="form-group">
              <textarea ng-model="reviewCtrl.review.body" class="form-control" placeholder="Write a short review of the product..." title="Review"></textarea>
            </fieldset>
            <fieldset class="form-group">
              <input ng-model="reviewCtrl.review.author" type="email" class="form-control" placeholder="jimmyDean@example.org" title="Email" />
            </fieldset>
            <fieldset class="form-group">
              <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
            </fieldset>
          </form>
        </div>
      </section>
    </div>
  </body>
</html>
